################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/linuxgenfiles
/linuxgenfiles/protobuf
/client/fuck_again_button.sln
/client/fuck_again_button.csproj
/client/Temp/UnityVS_obj/Debug
/client/Temp/UnityVS_obj
/client/Temp/UnityVS_obj
/client/Library/metadata/bb
/client/obj
/client/.vs/client/v14/.suo
/client/Assembly-CSharp.csproj
/client/Library/metadata/ed
/client/Library/metadata/ed
/client/Library/metadata/ed/ed05317462891b744ae2a70cc6a45180
/client/Library/metadata/ed/ed05317462891b744ae2a70cc6a45180.info
